# 服务配置
[Server]
LOCAL_IP=192.168.30.241


# redis配置
[Redis]
REDIS_IP_PORTS=192.168.10.30:6379
REDIS_PASSWORD=
# REDIS_IP_PORTS=192.168.10.151:7001,192.168.10.152:7001,192.168.10.153:7001
# REDIS_PASSWORD=ikasinfo123
REDIS_DB=11
REDIS_SERVICE_NAME=
REDIS_KWARGS={}

# kafka配置
[Kafka]
bootstrap.servers = 192.168.10.151:9092,192.168.10.152:9092,192.168.10.153:9092
# bootstrap.servers = 192.168.10.241:9092
group.id = group_data_test
auto.offset.reset = earliest
# auto.offset.reset = latest
enable.auto.commit = False
# topic = flight_data

# mysql配置
# TIDB集群  负载均衡端口 192.168.10.151:4000,192.168.10.152:4000,192.168.10.153:4000
[Mysql]
MYSQL_HOST=192.168.10.153
MYSQL_PORT=3390
MYSQL_USER=root
MYSQL_PASSWORD=_8+a^UxrhHi902F6@1
MYSQL_DB=flight_data
#测试环境
# [Mysql]
# MYSQL_HOST=192.168.10.20
# MYSQL_PORT=3306
# MYSQL_USER=data_user
# MYSQL_PASSWORD=annaxue159753
# MYSQL_DB=flight_data

# s3
[S3_FILE_CONF]
ENDPOINT_URL=http://s3.amazonaws.com

[Etcd]
ETCD_HOST=192.168.10.241
ETCD_PORT=2379
